.page-about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.about-container {
  max-width: 37.5rem;
  width: 100%;
}

.about-heading {
  margin-bottom: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.accent {
  color: var(--accent);
}

.flixi-icon {
  width: 18rem;
  height: auto;
  margin: 0 auto 2rem;
  display: block;
}

.about-description {
  background-color: var(--dark-background);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 1rem 3rem;
  line-height: 1.6;
}

.about-api-use {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  gap: 0.3rem;
}
.about-api-use p {
  text-align: left;
  margin: 0;
  font-size: 0.9rem;
}

.tmdb-logo {
  width: 3rem;
  height: auto;
}