/* GLOBAL CSS VARIABLES */
:root {
  --dark-background: #232323; /* navigation/header, footer */
  --light-background: #3b3a3a; /* main background colour */
  --accent: #18b7e8; /* accent, tags, buttons, icons, links */
  --font-color: #ffffff; /* main text colour, headings */
  --font-family: "Figtree", sans-serif; /* main font family */
  --fav-button: #ff0000; /* favourite button red */
  --section-spacing: 3rem;

  --desktop-h1: 4rem;
  --tablet-h1: 3rem;
  --mobile-h1: 1.5rem;

  --desktop-h2: 2rem;
  --tablet-h2: 2rem;
  --mobile-h2: 1.5rem;
}

body {
  background-color: var(--light-background);
  font-family: var(--font-family);
  color: var(--font-color);
  line-height: 1.2rem;
  letter-spacing: 1px;
}

h1 {
  font-weight: 700;
  font-size: var(--mobile-h1);
  line-height: 2rem;
}

h2 {
  font-weight: 700;
  font-size: var(--mobile-h2);
}

/* TABLET */
@media (min-width: 48em) {
  h1 {
    font-size: var(--tablet-h1);
  }

  h2 {
    font-size: var(--tablet-h2);
  }
}

/* DESKTOP */
@media (min-width: 75em) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  h1 {
    font-size: var(--desktop-h1);
  }

  h2 {
    font-size: var(--desktop-h2);
  }
}
