/* GLOBAL CSS VARIABLES */
:root {
  --dark-background: #232323; /* navigation/header, footer */
  --light-background: #3b3a3a; /* main background colour */
  --accent: #18b7e8; /* accent, tags, buttons, icons, links */
  --font-color: #ffffff; /* main text colour, headings */
  --font-family: "Figtree", sans-serif; /* main font family */
  --fav-button: #ff0000; /* favourite button red */
  --section-spacing: 3rem;

  --desktop-h1: 4rem;
  --tablet-h1: 3rem;
  --mobile-h1: 1.5rem;

  --desktop-h2: 3rem;
  --tablet-h2: 2rem;
  --mobile-h2: 1.5rem;
}

body {
  background-color: var(--light-background);
  font-family: var(--font-family);
  color: var(--font-color);
  line-height: 1.2rem;
}

h1,
h2 {
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  /* max-width: 80%; */
  height: 100vh;
  background-color: var(--light-background);
}

/* tablet */
@media (min-width: 48em) {
}

/* desktop */
@media (min-width: 75em) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}
