/* ----------- DETAILED HERO IMAGES ----------- */

.detailed-hero-container {
    position: relative;
    width: 100vw;
}

.detailed-hero-backdrop {
    width: 100%;
    display: block;
}

.poster-container {
    width: 65%;
    margin: -50% auto 0 auto;

    .detailed-hero-poster {
        position: relative;
        width: 100%;
        z-index: 2;
        box-shadow: 0 0 20px var(--dark-background);
    }
}


/* ----------- DETAILED MOVIE INFO ----------- */

.wrapper {
    width: 100%;
    height: auto;
}

.detailed-info {
    padding: 1rem;

    h1 {
        text-align: center;
    }

    .summary {
        line-height: 1.25rem;
        letter-spacing: 1.1px;
        font-size: 0.9rem;
    }
}

.rating-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .rating-svg {
        max-width: 1.5rem;
    }

    .date {
        color: var(--accent);
        font-weight: 700;
    }
}

.genre-tags {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    a {
        display: block; 
        color: var(--font-color);
        background-color: var(--accent);
        padding: 0.3rem 0.9rem;
        border-radius: 1rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
}


/* ----------- DETAILED MOVIE TRAILER----------- */

.detailed-trailer {
    width: 90vw;
    display: block;
    margin: 0 auto;
}

.play-trailer-container {
    position: relative;

    .trailer {
        width: 100%;
        display: block;
        box-shadow: 0 0 20px var(--dark-background);
    }

    .play-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 3rem;
        z-index: 2;
    }
}