footer {
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
  height: 3rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

footer p {
  color: var(--light-text);
  font-size: 0.8rem;
  margin: 0 auto;
}

@media (min-width: 48em) {
  footer {
    margin-bottom: 0;
  }
}
