footer {
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
  height: 3rem;
  text-align: center;
  margin-top: 3rem;
}
footer p {
  color: var(--light-text);
  font-size: 0.8rem;
  margin: 0 auto;
}
