.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.51rem;
}

.header-logo {
  height: 40px;
  width: auto;
  display: block;
  transform: translateY(-0.2rem);
}

@media (min-width: 75em) {
  .mobile-header {
    display: none;
  }
}
