/*MOBILE STYLES*/

.hero-carousel {
  width: 100%;
  margin: 0;
  margin-top: 3.5rem;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.hero-slide {
  display: none;
  width: 100%;
  position: relative;
}

.hero-slide.active {
  display: block;
}

.hero-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.hero-wrapper {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.hero-title-background {
  background: rgb(35, 35, 35, 0.8);
  padding: 1.5rem 1rem;
  width: 80%;
  z-index: 10;
  text-align: center;
}

/* Movie title */
.hero-title {
  font-size: var(--mobile-h1);
  margin: 0 0 1rem 0;
  color: var(--font-color);
}
.hero-description {
  display: none;
}

/* More button */
.hero-button {
  /* background-color: var(--accent);
  color: var(--font-color);
  border: none;
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
  display:inline-block;
  text-decoration: none;
  width: fit-content; */

  color: var(--font-color);
  background-color: var(--accent);
  padding: 0.3rem 0.9rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Dots navigation */
.slick-dots {
  margin-bottom: 3rem;
  z-index: 999;
}

.slick-dots li button::before {
  content: "";
  opacity: 0.8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5rem;
}

.slick-active button::before {
  background-color: #fff;
}

.slick-dots li {
  margin: 0 0.5rem;
}

.carousel-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  text-align: center;
  padding: 0.5rem 0;
  background-color: transparent;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dot {
  height: 0.938rem;
  width: 0.938rem;
  margin: 0 0.315rem;
  background-color: transparent;
  border: 0.125rem solid rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
  border: 0.125rem solid white;
}

/* Filter Section FOR MOBILE */
.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  padding-left: 3rem;
}

.filter-label {
  color: var(--font-color);
  font-size: 1rem;
  font-family: var(--font-family);
}

.filter-dropdown {
  background-color: var(--accent);
  color: var(--font-color);
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  border-radius: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-pills {
  display: none;
}

/*from code pen https://codepen.io/nopr/pen/DWrOBm*/
/*MOBILE carousel*/
.movies-container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: 300px;
  position: relative;
  padding: 0 1rem;
}
.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.swiper-slide:not(.swiper-slide-active) .movie-card {
  filter: blur(1px);
  opacity: 0.7;
  pointer-events: none;
}
.movie-card {
  display: block;
  background-color: var(--dark-background);
  width: 150px;
  height: 225px;
}
.movie-title-carousel {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
}
.movie-title-mobile {
  text-align: center;
  font-size: small;
  padding-bottom: 3rem;
}
.movie-title-mobile h3 {
  text-align: center;
  font-size: small;
  line-height: 0.5;
}

.rating-svg {
  max-width: 1rem;
  max-height: 1rem;
  vertical-align: middle;
  margin-bottom: 4px;
}

.rating {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

/* 
.swiper-slide-active {
  transform: rotateY(-30deg) scale(0.8);
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-next {
  transform: rotateY(0deg) translateZ(100px) scale(1);
  z-index: 3;
  opacity: 1;
  pointer-events: none;
} */

/* .movie-card:nth-child(4),
.movie-card:nth-child(5),
.movie-card:nth-child(6) {
  opacity: 0;
  pointer-events: none;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* hero carousel for tablet and desktop */
@media (min-width: 48em) {
  .hero-carousel {
    width: 100%;
    margin: 0;
  }

  .hero-wrapper {
    align-items: flex-start;
  }

  .hero-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero-title-background {
    margin-left: 2rem;
    /* margin-bottom: 5rem;
    padding-bottom: 5rem; */
    padding-top: 2rem;
    width: 25rem;
    display: inline-block;
    text-align: left;
  }

  .hero-description {
    display: block;
    font-size: 1rem;
  }

  .hero-button-wrapper {
    text-align: center;
  }

  .hero-button {
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      outline: 2px solid var(--accent);
    }
  }

  .carousel-dots {
    bottom: 1rem;
    align-self: center;
    width: 100%;
  }
}
/*Filter Pills*/
@media (min-width: 48em) {
  .filter-container {
    display: none;
  }
  .filter-pills {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
  }

  .pill-button {
    background-color: var(--light-background);
    color: var(--font-color);
    border: 2px solid var(--accent);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: var(--font-family);
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
  }

  .pill-button.active {
    background-color: var(--accent);
  }
}

/*MOVIE GRID FOR TABLET AND DESKTOP*/

/* Hide grid on mobile show carousel */
.movies-grid {
  display: none;
}

/* Ttablet grid */
@media (min-width: 48em) {
  /* Hide carousel on tablet */
  .movies-container {
    display: none;
  }

  /* grid on tablet  */
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    padding: 2rem;
  }

  /* changed w and h for tablet for cleaner look
  so movies dont look squished and big on tablet a little
  more breathing room */

  .grid-card img {
    width: 200px;
    height: 220px;
    object-fit: cover;
  }

  .grid-card h3 {
    color: var(--font-color);
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }

  .hero-image {
    margin-top: 3.5rem;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }
}

/* to make sure tablet only shows 8 movies*/
/* using nth child to target in parent container*/
/*once we hit 1200 px there will be 12 movie cards that show up*/

@media (min-width: 48em) and (max-width: 75em) {
  .grid-card:nth-child(9),
  .grid-card:nth-child(10),
  .grid-card:nth-child(11),
  .grid-card:nth-child(12) {
    display: none;
  }
}

/* Desktop grid */
@media (min-width: 75em) {
  .hero-title-background {
    margin-left: 5rem;
    /* margin-bottom: 10rem; */
  }

  .movies-grid {
    grid-template-columns: repeat(4, 200px);
  }

  .grid-card img {
    width: 200px;
    height: 300px;

    object-fit: cover;
  }
}

#slider-container .slider {
  overflow: initial;
}
