
.hero-carousel {
  width: 100%;
  margin: 0;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}


.hero-slide {
  display: none;
  width: 100%;
}

.hero-slide.active {
  display: block;
}


.hero-image {
  margin-top: 5rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

/* Overlay with fade */
.hero-overlay {
  background: rgba(82, 82, 82, 0.8);
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

/* Movie title */
.hero-title {
  font-size: var(--mobile-h1);
  margin: 0 0 1rem 0;
  color: var(--font-color);
}

/* More button */
.hero-button {
  background-color: var(--accent);
  color: var(--font-color);
  border: none;
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

/* Dots navigation */
.carousel-dots {
  text-align: center;
  padding: 0.5rem 0;
  background-color: transparent;
  margin-bottom: 1rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: transparent;
  border: 0.125rem solid rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: var( --font-color);
  border: 0.125rem solid white;
}

/* Filter Section */
.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  padding-left: 3rem;
}

.filter-label {
  color: var(--font-color);
  font-size: 1rem;
  font-family: var(--font-family);
}

.filter-dropdown {
  background-color: var(--accent);
  color: var(--font-color);
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  border-radius: 2rem;
  cursor: pointer;
  text-transform:uppercase;
  font-weight: 700;
}


.movies-container {
  margin: 2rem auto;
  width: 100%;
  max-width: 350px;
  height: 250px;
  position: relative;
  perspective: 800px;
}

/*from code pen*/

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.movie-card {
  display: block;
  position: absolute;
  background-color: var(--dark-background);
  width: 150px;
  height: 225px;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -112.5px;
  opacity: 0.4;
  transform: scale(0.7);
  transition: all 0.5s;
}


.movie-card:nth-child(1) {
  transform: rotateY(-30deg) translateX(-150px) scale(0.8);
  z-index: 1;
  opacity: 0.5;
}

.movie-card:nth-child(2) {
  transform: rotateY(0deg) translateZ(100px) scale(1);
  z-index: 3;
  opacity: 1;
}

.movie-card:nth-child(3) {
  transform: rotateY(30deg) translateX(150px) scale(0.8);
  z-index: 1;
  opacity: 0.5;
}


  .movie-card:nth-child(4),
.movie-card:nth-child(5),
.movie-card:nth-child(6) {
  opacity: 0;
  pointer-events: none;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


