/*HOME PAGE MOBILE FIRST STYLES*/

.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: fadeIn 0.3s ease-in-out;
}

/* Hero Styles */

.hero-carousel {
  width: 100%;
  margin: 0;
  margin-top: 3.5rem;
  flex-shrink: 0;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.hero-slide {
  display: none;
  width: 100%;
  position: relative;
}

.hero-slide.active {
  display: block;
}

.hero-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.hero-wrapper {
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.hero-title-background {
  background: rgb(35, 35, 35, 0.8);
  padding: 1.5rem 1rem;
  width: 80%;
  z-index: 10;
  text-align: center;
}

/* Movie title */
.hero-title {
  font-size: var(--mobile-h1);
  line-height: 2rem;
  margin: 0 0 1rem 0;
  color: var(--font-color);
}

.hero-description {
  display: none;
}

/* More button */
.hero-button {
  color: var(--font-color);
  background-color: var(--accent);
  padding: 0.3rem 0.9rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Dots navigation */
.slick-dots {
  margin-bottom: 3rem;
  z-index: 5;
}

.slick-dots li button::before {
  content: "";
  opacity: 0.8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5rem;
}

.slick-active button::before {
  background-color: #fff;
}

.slick-dots li {
  margin: 0 0.5rem;
}

.carousel-dots {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  padding: 0.5rem 0;
  background-color: transparent;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dot {
  height: 0.938rem;
  width: 0.938rem;
  margin: 0 0.315rem;
  background-color: transparent;
  border: 0.125rem solid rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
  border: 0.125rem solid white;
}

/* Filter Section FOR MOBILE */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  flex-shrink: 0;
}

.filter-label {
  color: var(--font-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-family);
}

.filter-dropdown {
  background-color: var(--accent);
  color: var(--font-color);
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  border-radius: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.filter-pills {
  display: none;
}

/*Mobile carousel*/
.movies-container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.movies-swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide:not(.swiper-slide-active) .movie-card {
  filter: blur(1px);
  opacity: 0.7;
  pointer-events: none;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
  }
}

.movie-card {
  display: block;
  background-color: var(--dark-background);
  width: 150px;
  height: 225px;
}

.movie-title-carousel {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.movie-title-mobile {
  text-align: center;
  font-size: small;
  padding-bottom: 3rem;
}

.movie-title-mobile h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 0.5;
}

.rating-svg {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
  margin-bottom: 4px;
}

.rating {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.rating-mobile-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.view-more {
  display: none;
}

.movies-grid {
  display: none;
}

/* HOME PAGE TABLET AND UP */

@media (min-width: 48em) {
  .home-wrapper {
    margin-bottom: 3rem;
  }
  .hero-carousel {
    width: 100%;
    margin: 0;
    flex-shrink: unset;
  }

  .hero-wrapper {
    align-items: flex-start;
  }

  .hero-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .hero-title-background {
    margin-left: 2rem;
    padding-top: 2rem;
    width: 25rem;
    display: inline-block;
    text-align: left;
  }

  .hero-description {
    display: block;
    font-size: 1rem;
  }

  .hero-button-wrapper {
    text-align: center;
  }

  .hero-button {
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      outline: 2px solid var(--accent);
    }
  }

  .carousel-dots {
    bottom: 1rem;
    align-self: center;
    width: 100%;
  }

  .view-more {
    display: block;

    .pill-button {
      color: var(--font-color);
      background-color: var(--accent);
      padding: 0.3rem 0.9rem;
      border-radius: 1rem;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.9rem;
      border: none;
    }
  }

  /* Desktop/tablet Filter 
  */
  .filter-container {
    display: none;
  }

  .filter-pills {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 3rem 2rem 1rem 2rem;
  }

  .pill-button {
    background-color: var(--light-background);
    color: var(--font-color);
    border: 2px solid var(--accent);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-family: var(--font-family);
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
  }

  .pill-button.active {
    background-color: var(--accent);
  }

  .movies-container {
    display: none;
  }

  /* Movie Grid tablet */

  .movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .grid-card img {
    width: 200px;
    height: 220px;
    object-fit: cover;
  }

  .grid-card h3 {
    color: var(--font-color);
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }

  .hero-image {
    margin-top: 3.5rem;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }
}
/* DESKTOP STYLES*/

@media (min-width: 75em) {
  .hero-title-background {
    margin-left: 5rem;
  }

  .movies-grid {
    grid-template-columns: repeat(4, 200px);
  }

  .grid-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

  .view-more button {
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--light-background);
      outline: 2px solid var(--accent);
    }
  }

  .rating-svg {
    max-width: 1rem;
    max-height: 1rem;
  }
}

#slider-container .slider {
  overflow: initial;
}

/* Loader Fade in Keyframe */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
