/* hover effect does not display on mobile/tablet */
.movie-card-hover-info {
    display: none;
}

/* desktop */
@media (min-width: 75em) {

    .movie-card-hover-info {
        display: block;
        position: absolute;
        background-color: var(--dark-background);
        width: 200px;
        height: 300px;
        opacity: 0;
        transition: 0.5s;
        padding: 3rem 1rem;

        /* overwrite styling from base movie info */
        h1 {
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-align: left;
            margin: 0;
        }

        p {
            font-size: 0.8rem;
        }

        .hero-description {
            margin-bottom: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .date {
            color: var(--accent);
            font-weight: 700;
            margin: 0;
        }

        .rating-svg {
            max-width: 0.8rem;
            max-height: 0.8rem;
        }
        
        .rating {
            font-size: 0.9rem;
            padding-left: 0.5rem;
        }

        .hero-button {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 1rem;
        }
    }

    .movie-card-hover-info:hover {
        opacity: 0.9;
    }

}