/* MOBILE STYLES START */

/* Mobile Bottom Nav Styles */
.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 10000;
  height: 3.5rem;
}

.nav-ul-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobile Icons  + Button Styles */
.nav-icon-mobile {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}
.mobile-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SEARCH /

/* Mobile Search Overlay Pop up  */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.51rem;
  z-index: 10000000000;
  padding: 1rem;
}
.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-background);
  z-index: 1000;
  pointer-events: none;
}

.search-li {
  flex: 1;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--light-background);
  border-radius: 3rem;
  padding: 0.3rem 0.75rem;
  gap: 0.75rem;
  width: 100%;
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-input::placeholder {
  color: #999;
}

.nav-icon-desktop {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
}

.close-btn {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  fill: var(--accent);
}
/* DESKTOP STYLES START */
.desktop-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 2rem;
  z-index: 100;
  height: 3.5rem;
}

.nav-ul-desktop {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 2rem;
  width: 80%;
}

.nav-icon-logo {
  height: 2.5rem;
  width: auto;
  display: block;
  transform: translateY(-0.3rem);
}

@media (min-width: 75em) {
  .mobile-header {
    display: none;
  }
}

@media (min-width: 75em) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }

  .search-wrapper {
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 5px #fff;
    }
  }
}

/* OVERLAY ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-overlay {
  animation: fadeIn 0.6s ease forwards;
}

/* Suggestion Dropdown */
.search-li {
  width: 100%;
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  top: 2.5rem;
  left: 0.5rem;
  right: 0.5rem;
  z-index: 9999999999999999;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  background-color: var(--light-background);
  border: 2px solid var(--accent);
  width: auto;

}

.suggestion-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 
}

.suggestion-item:hover {
  background-color: var(--dark-background);
  box-shadow: 0 0 7px var(--accent);
  cursor: pointer;

}


.suggestion-item img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  

}

.browse-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
}

.browse-more a {
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
  font-weight:700;
}

.browse-more-icon {
  width: 3.5rem;
  height: 3.5rem;
}

@media (min-width: 75em) {
  
  .suggestions-dropdown {
    left: 0;
    right: 0;
    width:100%;
  }
}

