nav a {
  display: block;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 100;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 10000;
  height: 3.5rem;
}

.nav-ul-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-icon-mobile {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.desktop-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 2rem;
  z-index: 100;
  height: 3.5rem;
}

.nav-ul-desktop {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 2rem;
  width: 80%;
}

.nav-icon-logo {
  height: 2.5rem;
  width: auto;
  display: block;
  transform: translateY(-0.3rem);
}

.search-li {
  flex: 1;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--light-background);
  border-radius: 3rem;
  padding: 0.3rem 0.75rem;
  gap: 0.75rem;
  width: 100%;
}

.mobile-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.search-input::placeholder {
  color: #999;
}

.nav-icon-desktop {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background);
  padding: 1rem 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.51rem;
  z-index: 10000000000;
  padding: 1rem;
}
.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-background);
  z-index: 1000;
  pointer-events: none;
}

.close-btn {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  fill: var(--accent);
}

@media (min-width: 75em) {
  .mobile-header {
    display: none;
  }
}

@media (min-width: 75em) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
  .search-overlay {
    padding-left: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-overlay {
  animation: fadeIn 0.6s ease forwards;
}
