.page-not-found-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.sad-flixi {
  width: 18rem;
  height: auto;
  margin: 0 auto 2rem;
}

.page-not-found-wrapper p,
.page-not-found-wrapper a {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
